VITE_API_BASE_URL=http://localhost:3001
VITE_BETTER_AUTH_URL=http://localhost:3001
VITE_AWS_ENDPOINT=
VITE_AWS_BUCKET_NAME=
VITE_DEFAULT_ZOOM=
VITE_PLUS_PRICE=
VITE_PRO_PRICE=
VITE_SUBSCRIPTION_ENABLED=
